
.card{
    width: 23%;
    border: 1px solid lightgray;
    margin: 6px;
    height: 250px;
    border-radius: 8px;
    padding: 10px;
    list-style-type: none;
    text-decoration: none;

}

.card:hover{
    background-color: aliceblue;
    transform: scale(1.02);
    
}



.typesList{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.typeItem{
    background-color: lightcoral;
    color:whitesmoke;
    padding: 4px;
    margin-right: 8px;
    border-radius: 6px;

}